body {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#rendering-information{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to right, #ffecc79d, #fed3b5af, #c9c0ffb8);
  padding: 10px 50px;
  height: 50px;
  align-items: center;
  box-shadow: 0px -10px 20px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  z-index: 1;
}

.header div {
  font-weight: 800;
  font-size: 30px;
  user-select: none;
}

.color1 {
  color: #0E1C36;
}

.color2 {
  color: #EECC82;
}

.color3 {
  color: #FFF8E8;
}

.nav {
  display: flex;
  column-gap: 1px;
  font-size: 17px;
  font-weight: 400;
  align-items: center;
}

.nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.nav a {
  padding: 5px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  height: 100%;
  border-radius: 5px;
}

.home:hover,
.featured:hover,
.about:hover,
.contact:hover {
  border-radius: 5px;
  transform: scale(1.1, 1.1);
}

.nav .nav_button a {
  padding: 0;
}

.nav_writeButton {
  background-color: rgb(16, 30, 56);
  color: #FFF8E8;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav_writeButton:hover {
  background-color: rgb(44, 59, 89);
  transform: scale(1.1, 1.1);
}

.comment-container {
  display: flex;
  flex-direction: column;
  background-color: #F9F6F6;
  width: 60vw;
  padding: 15px 15px;
  margin-top: 150px;
  margin-bottom: 100px;
  border-radius: 12px;
  box-shadow: 0px 7px 10px 1px rgba(174, 173, 173, 0.25);
  letter-spacing: .4px;
  padding-bottom: 0;
  width: 80vw;
}

.post-details-container {
  display: flex;
  align-items: center;
}

.post-details-container .profile-container {
  display: flex;
  justify-content: center;
  margin-right: 13px;
}

.profile-container img {
  object-fit: cover;
  object-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-details-container .details-container {
  flex: 1;
}

.details-container {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  justify-content: center;
  row-gap: 6px;
}

.name {
  font-size: .93em;
}

.status {
  font-size: .75em;
  color: rgb(136, 136, 136);
}

.post-details-container .topic-container {
  display: flex;
}

.topic-container img {
  width: 30px;
  height: 30px;
}

.message-comments-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 25px 15px;
  font-weight: 400;
  color: white;
  line-height: 18px;
  margin-top: 13px;
  border: solid 1.5px rgb(237, 234, 234);
}

.message,
.user-comment {
  font-size: .9em;
  border-radius: 16px;
  padding: 8px 10px;
  max-width: 55%;
}

.user-comment {
  background-color: rgb(99, 177, 211);
  margin-bottom: 2px;
  text-align: right;
  overflow-wrap: break-word;
}

.message {
  margin-bottom: 12px;
  display: inline-block;
  background-color: rgb(99, 177, 211);
  overflow-wrap: break-word;
}

.comments-container {
  display: flex;
  flex-direction: column;
}

.single-comment-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 12px;
}

.user-name {
  color: grey;
  margin-bottom: 3px;
  font-size: .85em;
  margin-right: 5px;
}

.user-comment {
  background-color: rgba(255, 0, 0, 0.569);
  color: white;
  overflow-wrap: break-word;
  position: relative;
}


.info-input-container {
  display: flex;
  align-items: center;
  font-size: .85em;
  column-gap: 10px;
  padding: 29px 14px;
  align-items: center;
  position: relative;
  justify-content: center;
}

.name-comment-container {
  display: flex;
  column-gap: 5px;
  padding: 0 5px;
}

.name-comment-container div {
  display: flex;
  align-items: center;
}

.username-input {
  border: solid 1.5px rgb(237, 234, 234);
  border-radius: 17px;
  padding: 10px 10px;
}

.username-input::placeholder {
  color: lightgray;
}

.theme-container {
  display: flex;
  align-items: center;
}

.themes-choices-container {
  display: flex;
  column-gap: 6px;
  margin-left: 4px;
}

.themes-choices-container div {
  cursor: pointer;
  border: solid 1.5px transparent;
}

.themes-choices-container div:nth-child(1),
.themes-choices-container div:nth-child(2),
.themes-choices-container div:nth-child(3),
.themes-choices-container div:nth-child(4) {
  width: 17px;
  height: 17px;
  background-color: rgb(99, 177, 211);
  border-radius: 50%;
  cursor: pointer;
}

.themes-choices-container div:nth-child(2) {
  background-color: rgb(211, 99, 99);
}

.themes-choices-container div:nth-child(3) {
  background-color: rgb(99, 211, 130);
}

.themes-choices-container div:nth-child(4) {
  background-color: rgb(233, 223, 129);
}

.message-input-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.message-input {
  z-index: 0;
  background-color: transparent;
  position: relative;
  width: 90%;
  height: 40px;
}

.textarea-clone {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 10;
  min-height: auto;
  resize: none;
  overflow-y: hidden;
  border: solid 1.5px rgb(237, 234, 234);
  border-radius: 17px;
  padding: 10px 10px;
  /* Adjust padding as needed */
  line-height: 1.2;
  /* Adjust line-height as needed */

}

.send-button-container img {
  width: 30px;
  cursor: pointer;
}

.user-comment img {
  width: 18px;
  border-radius: 50px;
  position: absolute;
  left: -24px;
  opacity: .5;
  filter: grayscale(94%);
  cursor: pointer;
}

@media only screen and (max-width:1000px) {
  .comment-container {
    padding-bottom: 80px;
  }

  .message-input-container {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }

  .name-comment-container,
  .theme-container {
    flex: 1;
    justify-content: center;
  }

  .info-input-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .comment-container {
    padding-bottom: 80px;
  }

  .message-input-container {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
  }

  .name-comment-container,
  .theme-container {
    flex: 1;
    justify-content: flex-start;
    /* Updated */
  }

  .theme-container {
    margin-top: 15px;
    margin-bottom: 7px;
    justify-content: center;

  }

  .info-input-container {
    flex-direction: column;
  }

  .name-comment-container,
  .theme-container {
    width: 100%;
  }
}
