header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, #ffecc79d, #fed3b5af, #c9c0ffb8);
    padding: 10px 50px;
    height: 50px;
    align-items: center;
    box-shadow: 0px -10px 20px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.header div {
    font-weight: 800;
    font-size: 30px;
    user-select: none;
}

.color1 {
    color: #0E1C36;
}

.color2 {
    color: #EECC82;
}

.color3 {
    color: #FFF8E8;
}

.nav {
    display: flex;
    column-gap: 1px;
    font-size: 17px;
    font-weight: 400;
    align-items: center;
}

.nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.nav a {
    padding: 5px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    height: 100%;
    border-radius: 5px;
}

.home:hover,
.featured:hover,
.about:hover,
.contact:hover {
    border-radius: 5px;
    transform: scale(1.1, 1.1);
}

.nav .nav_button a {
    padding: 0;
}

.nav_writeButton {
    background-color: rgb(16, 30, 56);
    color: #FFF8E8;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav_writeButton:hover {
    background-color: rgb(44, 59, 89);
    transform: scale(1.1, 1.1);
}

.main {
    flex: 1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 100px;
    width: 70%;
    height: 530px;
    text-align: center;
    border: 1px solid #0E1C36;
    border-radius: 12px;
    padding: 10px 20px;
    padding-left: 0px;
    background: linear-gradient(160deg, #a2a7aa32, #80786f3c);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    color: #0E1C36;
}


.contact-container h3 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 5px;
    position: relative; 
    font-style: italic;
    font-weight: 400;
    left: 3%;
}

.contact-container p {
    font-size: 14px;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    position: relative;
    left: -40%;
}


.container h2 {
    font-size: 35px;
    color: #0E1C36;
    font-weight: 800;
    left: 3%;
    position: relative;
}

input {
    color: #0E1C36;
}

.input-field {
    position: relative;
}

.input-field input[type="email"],
.input-field input[type="text"] {
    border-radius: 10px;
    background: transparent;
    margin: 15px;
    border: 2px solid #0E1C36;
    width: 90%;
    height: 2px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 20px 0;
    padding-left: 20px;    
    /* Safari */
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    color: #0E1C36;
}

input::placeholder {
    color: #0E1C36;
}

.input-field input[type="email"]:focus::placeholder,
.input-field input[type="text"]:focus::placeholder {
    transform: translateX(-50%);
    transition: transform 0.4s ease-in-out;
    font-size: 14px;
}

.input-field input[type="email"]:not(:focus)::placeholder,
.input-field input[type="text"]:not(:focus)::placeholder {
    transform: translateX(0%);
    transition: transform 0.4s ease-in-out;
    font-size: 14px;
}

.container .submit {
    background: #0E1C36;
    color: #FFF8E8;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    border-radius: 45px;
    width: 200px;
    height: 30px;
    bottom: 6%;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transform: translateX(6px);
}

.container .submit:hover {
    background-color: rgb(44, 59, 89);
    transform: scale(1.1, 1.1);
}

textarea {
    color: #0E1C36;
    font-family: Inter;
    border-radius: 10px;
    background: transparent;
    margin: 15px;
    border: 2px solid #0E1C36;
    width: 90%;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    resize: none;
    padding: 20px 0;
    padding-left: 20px;
}

textarea::placeholder {
    color: #0E1C36;
}

textarea:focus::placeholder {
    transform: translateX(-50%);
    transition: transform 0.4s ease-in-out;
    font-size: 14px;
}

textarea:not(:focus)::placeholder {
    transform: translateX(0%);
    transition: transform 0.4s ease-in-out;
    font-size: 14px;
}

.bgcolor2 {
    background-image: linear-gradient(to bottom, #faddc3, #8080c063);
    height: 100px;
    position: relative;
    bottom: -5.2%;
    z-index: -3;
}

@media only screen and (max-width:700px){
   
}

#the-count {
    position: fixed;
    float: right;
    padding: 0.1rem 0 0 0;
    font-size: 0.875rem;
    right: 6%;
}